@import "tailwindcss";

@theme {
  --color-brand-salmon: #FF7E67;
  --color-brand-salmonDark: #E5624D;
  --color-brand-marine: #0A192F;
  --color-brand-marineLight: #112240;
  --color-brand-sand: #F9F6F0;
}

body {
  scroll-behavior: smooth;
}
